
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Arsha Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="assets/img/favicon.png" rel="icon"> 
  <link href="{% static 'template-header/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
    -->
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'template-header/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'template-header/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'template-header/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'template-header/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'template-header/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'template-header/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'template-header/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'template-header/assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha
  * Updated: Jul 27 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
  <!-- ======= Header ======= -->
<body>

  <header id="header" class="fixed-top" style="background-color: #fff;" >
    <div class="container d-flex align-items-center">

      {% comment %} <h1 class="logo me-auto"><a href="index.html">Arsha</a></h1> {% endcomment %}
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="{% url 'core:home' %}" class="logo me-auto"><img src="{% static 'images/logo-sendi-2023-1536x853.png' %}" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar">
        <ul>
          <!--<li><a class="nav-link scrollto" href="{% url 'core:home' %}" style="color: blue;">Home</a></li>-->
          <li><a class="nav-item nav-link" href="#sobre"  style="color: #083d51;">Sobre</a></li>
          <li><a class="nav-item nav-link" href="#informacaoes" style="color: #083d51;">Informações</a></li>
          <li><a href="{% url 'core:home' %}" class="nav-item nav-link"><img src="{% static 'images/logo-ibradee-2-1024x370.png' %}" alt="" style="width: 5rem;" class="img-fluid"></a></li>
          <li><a href="{% url 'core:home' %}" class="nav-item nav-link"><img src="{% static 'images/logo-edp-2-1024x643.png' %}" alt="" style="width: 5rem;" class="img-fluid"></a></li>
        
        </ul>
        <i class="bi bi-list mobile-nav-toggle" style="color: #083d51;"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->

   <!-- Vendor JS Files -->
   <script src="{% static 'template-header/assets/vendor/aos/aos.js' %}"></script>
   <script src="{% static 'template-header/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
   <script src="{% static 'template-header/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
   <script src="{% static 'template-header/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
   <script src="{% static 'template-header/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
   <script src="{% static 'template-header/assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
   <script src="{% static 'template-header/assets/vendor/php-email-form/validate.js' %}"></script>
 
   <!-- Template Main JS File -->
   <script src="{% static 'template-header/assets/js/main.js' %}"></script>
</body>